/* resets */

body {
  font-size: 62.5%;
}

table {
  border-collapse: collapse;
}

/* grid */

#header {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

#nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav li {
  float: left;
  margin: 0;
}
#nav a {
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
}

.clearing {
  clear: both;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}
#content {
  margin: 0 30px;
  padding: 0;
  padding-bottom: 3em;
}

table {
  margin: 0 auto;
}

td {
  padding: 2px 7px;
}

#field {
  position: absolute;
  width: 380px;
  top: 10%;
  left: 50%;
  margin-left: -190px;
  font-size: 375%;
}
#fieldWrapper {
  padding: 10px;
  margin: -2px;
}
#close {
  float: left;
}

/* colors, fonts, etc. */

body {
  background-color: #300;
  font-family: Arial, sans-serif;
}

#wrapper {
  background-color: #fff;
}

table {
  border-left: 1px solid black;
  border-top: 1px solid black;
}
td {
  background-color: #eee;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: right;
}

.unanswered {
  visibility: hidden;
}
.freebie {
  background-color: #eee;
}
.correct {
  background-color: #cfc;
}
.incorrect {
  background-color: #fcc;
  font-weight: bold;
}
.yourAnswer {
  font-style: italic;
}

label {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#nav a {
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}
#nav li.current {
  background-color: #300;
}
#nav li.current a {
  color: white;
}

#field {
  border: 8px solid #c88;
  background-color: #800;
  color: white;
  text-align: right;
}
#fieldWrapper {
  border: 3px solid #c88;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
#field span {
  font-size: 1.8em;
}
#field input {
  font-size: 0.9em;
  text-align: right;
}
#field img {
  border: 0;
}
#field #msg {
  text-align: left;
  margin-left: 1em;
}

.rounded {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: black 3px 3px 7px;
  -webkit-box-shadow: black 3px 3px 7px;
}

